# Configuración del Servidor
PORT=

# Configuración de la Base de Datos MySQL
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Configuración de Seguridad JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Tiempos de vida parametrizados (Sintaxis de ms: '15m', '1h', '7d')
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Configuración de correo (Gmail + Nodemailer)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

# Recuperación de contraseña
JWT_RESET_SECRET=
JWT_RESET_EXPIRATION=
FRONTEND_URL=
